/* Inicio del comentario
    body 
    {
        color:deeppink ;
        text-align: center;
        font-family: "Arial"; 
    }    
    Final del comentario */
body
{
    color:#333;
    text-align: center;
    font-family:Arial;    
    font-size: 16 px;
    margin:0;
    padding:0;
}

#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline 

{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 90%;
    /* Inicio del comentario
    width: 70%;
    El width original es del 70%, 
    pero por razones de gusto del programador 
    (Josue Barreno) lo aumentó al 90%
    Final del comentario */
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20 px;
}
#post
{
    padding: 1em;



}